<!DOCTYPE html>
<html>
  <head>
    <title>{{company_name}} Jobs</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  </head>
  <body>

    <div>
      
  <h1  style="text-align:center; color:darkblue;">NAB Jobs</h1>

  <img class="img-fluid" style=" max-width;" src="https://e2b2b15f-f9c1-408b-a044-cf8c06d056f9-00-2ttzpkxxsi1bm.sisko.replit.dev/static/job.jpg">
  
  <h1 style="text-align:center">Open Jobs</h1> 
 
  {% for positions in jobs %}
      {% include 'theitems.html' %}
  {% endfor %}
  

      
      
   <div class ="text-center">
  <button class="btn btn-primary">Contact Us</button>
<p> Copyright 2024 Bahin</p> 
    </div>
    </div>
</body>
</html>